<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pumorder.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://site85172.siteasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>site85172</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>site85172</UserName>
    <Password>qE#3%8BgfZ@2</Password>
    <UserPWD>qE#3%8BgfZ@2</UserPWD>
    <_SavePWD>true</_SavePWD>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
